Project, i18n, src\i18n\i18n.csproj
Project, i18n.MVC3, src\i18n.MVC3\i18n.MVC3.csproj
Project, i18n.MVC4, src\i18n.MVC4\i18n.MVC4.csproj
Project, i18n.Tests, test\i18n.Tests\i18n.Tests.csproj
Lib, Castle.Core, packages\Castle.Core.3.1.0\lib\net35\Castle.Core.dll
Lib, Castle.Core, packages\Castle.Core.3.1.0\lib\net40-client\Castle.Core.dll
Lib, Castle.Core, packages\Castle.Core.3.1.0\lib\sl4\Castle.Core.dll
Lib, Microsoft.Practices.ServiceLocation, packages\CommonServiceLocator.1.0\lib\NET35\Microsoft.Practices.ServiceLocation.dll
Lib, Microsoft.Practices.ServiceLocation, packages\CommonServiceLocator.1.0\lib\SL30\Microsoft.Practices.ServiceLocation.dll
Lib, FakeItEasy, packages\FakeItEasy.1.7.4626.65\lib\NET35\FakeItEasy.dll
Lib, FakeItEasy, packages\FakeItEasy.1.7.4626.65\lib\NET40\FakeItEasy.dll
Lib, FakeItEasy, packages\FakeItEasy.1.7.4626.65\lib\SL3\FakeItEasy.dll
Lib, FakeItEasy, packages\FakeItEasy.1.7.4626.65\lib\SL4\FakeItEasy.dll
Lib, System.Web.Mvc, packages\Microsoft.AspNet.Mvc.4.0.20710.0\lib\net40\System.Web.Mvc.dll
Lib, System.Web.Razor, packages\Microsoft.AspNet.Razor.1.0.20105.408\lib\net40\System.Web.Razor.dll
Lib, System.Web.Razor, packages\Microsoft.AspNet.Razor.2.0.20715.0\lib\net40\System.Web.Razor.dll
Lib, System.Web.Helpers, packages\Microsoft.AspNet.WebPages.1.0.20105.408\lib\net40\System.Web.Helpers.dll
Lib, System.Web.WebPages.Deployment, packages\Microsoft.AspNet.WebPages.1.0.20105.408\lib\net40\System.Web.WebPages.Deployment.dll
Lib, System.Web.WebPages, packages\Microsoft.AspNet.WebPages.1.0.20105.408\lib\net40\System.Web.WebPages.dll
Lib, System.Web.WebPages.Razor, packages\Microsoft.AspNet.WebPages.1.0.20105.408\lib\net40\System.Web.WebPages.Razor.dll
Lib, System.Web.Helpers, packages\Microsoft.AspNet.WebPages.2.0.20710.0\lib\net40\System.Web.Helpers.dll
Lib, System.Web.WebPages.Deployment, packages\Microsoft.AspNet.WebPages.2.0.20710.0\lib\net40\System.Web.WebPages.Deployment.dll
Lib, System.Web.WebPages, packages\Microsoft.AspNet.WebPages.2.0.20710.0\lib\net40\System.Web.WebPages.dll
Lib, System.Web.WebPages.Razor, packages\Microsoft.AspNet.WebPages.2.0.20710.0\lib\net40\System.Web.WebPages.Razor.dll
Lib, Microsoft.Web.Infrastructure, packages\Microsoft.Web.Infrastructure.1.0.0.0\lib\net40\Microsoft.Web.Infrastructure.dll
Lib, xunit, packages\xunit.1.9.1\lib\net20\xunit.dll
Lib, xunit.runner.msbuild, packages\xunit.1.9.1\lib\net20\xunit.runner.msbuild.dll
Lib, xunit.runner.tdnet, packages\xunit.1.9.1\lib\net20\xunit.runner.tdnet.dll
Lib, xunit.runner.utility, packages\xunit.1.9.1\lib\net20\xunit.runner.utility.dll
Lib, xunit.extensions, packages\xunit.extensions.1.9.1\lib\net20\xunit.extensions.dll
